@font-face { 
  font-family: 'UrbanJungleDEMO'; 
  src: url('font/UrbanJungleDEMO.otf') format('truetype'); 
}
@font-face { 
  font-family: 'Dry_Brush'; 
  src: url('font/Dry Brush.ttf') format('truetype'); 
}
@font-face { 
  font-family: 'Shorelines_Script'; 
  src: url('font/Shorelines Script Bold.otf') format('truetype'); 
}
@font-face { 
  font-family: 'Always In My Heart'; 
  src: url('font/Always In My Heart.ttf') format('truetype'); 
}
html, html *{
  position:relative;
}
.img_fond{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
fieldset{
	border:2px solid black;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 10%;
}
legend {
  font-family: Shorelines_Script, sans-serif;
  font-size: 70px;
  color: black;
}
p{
  text-align: justify;
  font-family: Verdana;
  font-size: 19px;
}
h2{
  text-align: justify;
  font-family: monospace;
  font-size: 20px;  
}
#img_home{
  position: fixed;
  top:10px;
}
footer{
  position: fixed;
  bottom:10px;
  right: 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}